.formularioRegistro{
    padding-left:   20%;
    padding-right: 20%;
    margin-top:    10%;
}

table {
    width: 100%;
}

.example-button-row {
    display: table-cell;
    width: 490px;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
    a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      border-radius: 4px;
    
    }
    a:hover {
      background-color: #ddd;
      color: black;
    }
    a.active {
      background-color: dodgerblue;
      color: white;
    }
    .header-right {
      float: right;
    }
  
